body{
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #fff;
	margin: 0;
	padding: 0;
}
	/**************** navbar *****************/
.navbar-brand{
	font-size: 1.8em;
	color: black;
}

#header-nav{ 
	background-color: #f6b319;
	border-radius: 0;
	border:2px solid #000;

}
.nav-list{
	margin-top: 10px
}
#nav-list a{
	color: #000;
	text-align: center;
	font-size: 1.2em;
}
#nav-list a:hover{
	background:#E7E7E7;
}
#nav-list a span{
	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #000
	
}
/**************  End navbar ****************/
#main-title{
	color: #000;
	font-weight: bold;
}
.main-item-tile{
	width: 100%;
}
.main-item-tile span{
	color: black;
	font-weight: bold;
	font-size: 1.2em;
	position: absolute;
	width: 100%;
	text-align: center;
	}	
	
p{	
	margin-top: 20px;
	padding: 15px;
	background-color: gray;
	margin-right: 10px;
	color: black;
	font-size: 1.2em;
}
